/* BƯỚC 1: CSS cơ bản – kiểm tra kết nối */

body{
  background:#010a13;
  color:#f0e6d2;
  font-family: Arial, Helvetica, sans-serif;
}

.test-css{
  color: #00ff99;
  font-size: 20px;
  margin: 20px 0;
}
